{% extends 'mysite/base.html' %}

{% block content %}

  <main class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="font-italic display-4">
          {{ obj.title }}
        </h3>
        <p class="small text-muted text-right">{{ obj.created_at }}
          by
          <a href="#">{{ obj.author }}</a>
        </p>

        <div class="my-5">{{ obj.text }}</div>
        <div>
          {% include "mysite/snippets/like_count.html" %}
          {% include "mysite/snippets/tag.html" %}
        </div>

        <hr class="my-4">
        {{ text }}
        {% include "mysite/snippets/comment.html" %}

      </div>

      {% include "mysite/snippets/sidebar.html" %}

    </div>
  </main>

{% endblock %}
